body {
    height: 100%;
    background-image: url("./timer.jpg");
    background-size: cover;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 150px;
    display: flex;
}

span {
    padding-top: 14px;
}

.user {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input {
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 25px;
    background-color: transparent;
}

.buttons {
    height: 100px;
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#start,
#reset {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: transparent;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    transform: translate(-5%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-5%, -50%) scale(1);
}

img {
    height: 400px;
    width: 350px;
    background: transparent;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
}